<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div class="container text-center">
    <div>
        <h1>List of all users</h1>
    </div>
    <div>
        <table class="table table-bordered table-striped table-active">
            <thead class="thead-dark">
            <tr>
                <th>User Id</th>
                <th>E-Mail</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${user_list}">
                <td th:text="${user.id}">User Id</td>
                <td th:text="${user.email}">Email</td>
                <td th:text="${user.firstName}">FirstName</td>
                <td th:text="${user.lastName}">LastName</td>
            </tr>
            </tbody>


        </table>
    </div>

</div>

</body>
</html>